html {
	height: 100%;
	overflow: visible;
	position: relative;
	width: 100%;
}

::-moz-selection {
	background-color: #5b83cd;
	color: #fff;
}

::selection {
	background-color: #5b83cd;
	color: #fff;
}

::-moz-selection {
	background-color: #5b83cd;
	color: #fff;
}

body {
	background-color: #fff;
	font-family: "poppins", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	overflow: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	word-break: break-word;
}

h1 {
	font-size: 60px;
	margin-bottom: 13px;
	margin-top: 33px;
}

h2 {
	font-size: 50px;
	margin-bottom: 13px;
	margin-top: 33px;
}

h3 {
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 37px;
}

h4 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 37px;
}

h5 {
	font-size: 24px;
	margin-bottom: 23px;
	margin-top: 43px;
}

h6 {
	font-size: 20px;
	margin-bottom: 23px;
	margin-top: 43px;
}